<h1>About</h1>

<p>Private Events is a site similar to Eventbrite, allowing users to create events and manage user signups.  The purpose of this project is to practice associations.<br /><br />

The project can be found <a href="https://www.theodinproject.com/lessons/associations"><em>here</em></a>
</p>