<% provide(:title, "All Events") %>

<h1>All Events</h1>

<h2>Upcoming Events</h2>
<% if @events.upcoming.any? %>
	<ul class="list">
		<%= render @events.upcoming %>
	</ul>
<% end %>

<h2>Past Events</h2>
<% if @events.past.any? %>
	<ul class="list">
		<%= render @events.past %>
	</ul>
<% end %>